<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sniglet.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/counter_ajax.js}"></script>
</head>
<body>

<div class="wrapper">
    <div th:replace="fragments/menu :: side-menu"></div>

    <div class="container container-general">
        <div th:replace="fragments/menu :: admin-menu"></div>

        <div class="panel panel-default admin-login-panel">
            <div class="panel-body">
                <p th:if="${param.logout}" class="alert alert-info">Olete välja loginud!</p>
                <p th:if="${param.error}" class="alert alert-danger">Proovige uuesti!</p>
                <form name="form" th:action="@{/login}" action="/login" method="POST">
                    <fieldset>
                        <legend th:text="#{admin_login.form_legend}"></legend>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" th:placeholder="#{admin_login.username_placeholder}"/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" th:placeholder="#{admin_login.password_placeholder}"/>
                        </div>
                    </fieldset>
                    <input type="submit" id="login" th:value="#{admin_login.button_text}" class="btn btn-default"/>
                </form>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

    </div>
</div>
</body>
</html>