<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistika</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf != null ? _csrf.token : 'testing'}"/>
    <meta name="_csrf_header" th:content="${_csrf != null ?_csrf.headerName:'testing'}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sniglet"/>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="js/statistics.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/counter_ajax.js"></script>
</head>
<body>

<div class="wrapper">
    <div th:replace="fragments/menu :: side-menu"></div>

    <div class="container container-general">
        <div th:replace="fragments/menu :: admin-menu"></div>
        <!--/*@thymesVar id="statistics" type="ee.pardiralli.statistics.Statistics"*/-->
        <div id="loadingGif"></div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form id="don_chart" class="form-horizontal" th:object="${statistics}" method="post">
                    <div class="form-group">
                        <label class="col-form-label col-sm-2" for="datepicker_don_start">Vali alguskuupäev: </label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{startDate}" id="datepicker_don_start"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label col-sm-2" for="datepicker_don_end">Vali lõppkuupäev: </label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{endDate}" id="datepicker_don_end"/>
                        </div>
                    </div>
                </form>
                <div id="errorMessage"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="linechart_donations" style="width: 900px; height: 500px">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="linechart_ducks" style="width: 900px; height: 500px">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <!--/*@thymesVar id="exportFile" type="ee.pardiralli.statistics.ExportFile"*/-->
                <form id="exportform" name="exportform" class="form-horizontal" th:action="@{/export}"
                      th:object="${exportFile}"
                      method="get">
                    <fieldset>
                        <legend>Lae raport alla</legend>
                        <div class="form-group">
                            <label class="col-form-label col-sm-2" for="datepicker_exp_start">Vali
                                alguskuupäev: </label>
                            <div class="col-sm-10">
                                <input class="form-control" th:field="*{startDate}" id="datepicker_exp_start"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-sm-2" for="datepicker_exp_end">Vali lõppkuupäev: </label>
                            <div class="col-sm-10">
                                <input class="form-control" th:field="*{endDate}" id="datepicker_exp_end"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input id="submit" name="action" type="submit" class="btn btn-default"
                                       value="Ekspordi"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

    </div>
</div>
</body>
</html>