
html {
    height: 100%;
}

body {
    height: 100%;
    background: url("images/background.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Merriweather Sans', sans-serif;
}

div.wrapper::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    position: fixed;
    height: 100%;
    background-color: #ffde16;
}

div.wrapper {
    min-height: 100%;
}

img.main-logo {
    width: 80%;
}

div.logo-wrap {
    margin-top: 40px;
    text-align: center;
}

div.menu-wrap {
    padding-top: 20px;
    text-align: center;
}

a.back-to-main {
    display: block;
    line-height: 48px;
    font-size: 22px;
    color: #ab940f;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a.back-to-main:hover {
    color: #292b33;
}

div.counters-wrap {
    position: fixed;
    width: 20%;
    bottom: 10%;
    text-align: center;
    font-family: 'Sniglet', cursive;
    font-size: 2rem;
}

div.counter {
    font-size: 3.5rem;
    font-weight: bolder;
}

div.sidebar {
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    background-color: #ffde16;
}

div.menu-container {
    font-size: 2rem;
    font-family: 'Merriweather Sans', sans-serif;
}

div.container.container-general {
    width: 80%;
    position: relative;
    float: right;
    font-family: 'Noto Sans', sans-serif;
    color: #142e64;
    background-color: rgba(240, 240, 240, 0.8);
    padding: 20px 20px 100px 20px;
    min-height: 100vh;
}

nav.navbar-nav {
    font-family: 'Enriqueta', serif;
    font-size: 2rem;
}

li.admin-name-header {
    /* simulate bootstrap's '.navbar-nav > li > a' properties */
    line-height: 20px;
    padding: 15px;
}

a.admin-logout {
    /* override more accurate bootstrap selector '.navbar-nav > li > a' */
    display: inline-block !important;
    padding: 0 !important;
}

.container.container-error {
    font-family: 'Noto Sans', sans-serif;
    color: #142e64;
    background-color: rgba(240, 240, 240, 0.6);
    min-height: 90%;
    margin-bottom: 10%;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    margin: -20px -15px 20px -15px; /* override container's padding */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #ffde16;
    padding: 10px 0;
    margin: 0 -20px 0 -20px;
}

.admin-login {
    font-size: 1.2rem;
}

a.tmpk-wrap {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

img.tmpk-link {
    width: 24px;
    height: 24px;
    opacity: 0.5;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img.tmpk-link:hover {
    opacity: 1;
}

div.main-box {
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-size: contain;
    width: 100%;
    /* make sure height == width, uses padding, because padding is determined as a % of width */
    padding-bottom: 100%;
}

div.left-box {
    background: #ff66b8;
}

div.right-box {
    background: #6cc3f9;
}

.duck-owner-heading {
    padding-bottom: 2rem;
    color: #193a80;
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
    font-size: 4rem;
}

div.buyer-info-box {
    background: #ff8c1a;
}

button.btn-banklink {
    padding: 0;
}

div.box-content-stretch {
    /* stretch to fit parent because parent has 0 height, its height comes only from padding */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* center contents */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.box-content {
    display: flex;
    flex-direction: column;
    width: 58%;
}

div.new-box-btn-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

div.new-box-btn-wrapper {

}

.circle {
    border-radius: 50%;
    /* elements using this must also set width == height */
}

button.btn-new-box {
    width: 15rem;
    height: 15rem;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #ffd63a;
    border: none;
    line-height: 1;
}

button.btn-new-box:hover {
    background-color: #ffc638;
}

span.new-box-plus-sign {
    font-size: 5rem;
}

div.row.buyer-row {
    display: flex;
    flex-wrap: wrap;
}

div.total-info-col {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

div.total-sum-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #b8dc6f;
    font-family: 'Sniglet', cursive;
    font-size: 1.8rem;
    font-weight: bold;
}

.total-sum-amount {
    font-size: 3.5rem;
    font-weight: bolder;
}

div.buy-btn-wrapper-left {
    align-self: flex-start;
}

div.buy-btn-wrapper-right {
    align-self: flex-end;
}

button.btn-buy {
    width: 10rem;
    height: 10rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f33f3f;
    border: none;
    line-height: 1;
    font-family: 'Sniglet', cursive;
    font-size: 1.7rem;
    font-weight: bold;
}

div.input-group {
    margin-bottom: 10px;
    width: 100%;
}

.zero-right-padding {
    padding-right: 0;
}

label.main-box-form-label {
    color: #193a80;
}

input.terms-check {
    margin-top: 3rem;
}

.banklink-logo {
    width: 126px;
    /*width: 84px;*/
    height: 47px;
    /*height: 31px;*/
}

label.invalid-accept-checkbox {
    color: darkred;
}

/* LOADER START */
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}

.loader {
    color: #ffffff;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before,
.loader:after {
    position: absolute;
    content: '';
}

.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #0dc5c1;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}

.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #0dc5c1;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0 5.1em;
    transform-origin: 0 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* LOADER END */

span.payment_success_field {
    font-weight: bolder;
    font-size: 1.5rem;
}
span.payment_success_val {
    font-size: 1.5rem;
}