<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pardiralli</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sniglet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Sketch"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/form-control.js"></script>
    <script type="text/javascript" src="js/counter_ajax.js"></script>
</head>
<body>

<div class="wrapper">
    <div th:replace="fragments/menu :: side-menu"></div>

    <div class="container container-general">
        <div th:replace="fragments/menu :: admin-menu"></div>

        <p th:if="${param.logoutsuccess}" class="alert alert-success">Olete välja loginud!</p>

        <!--/*@thymesVar id="feedbackList" type="java.util.List<ee.pardiralli.feedback.Feedback>"*/-->
        <div th:replace="fragments/feedback :: feedback-messages (feedbackList=${feedbackList})"></div>

        <!--/*@thymesVar id="donation" type="ee.pardiralli.dto.DonationFormDTO"*/-->
        <form action="#" th:action="@{/}" th:object="${donation}" method="post" class="form-horizontal">

            <!--/* donation box */-->
            <div th:each="box, boxStat : *{boxes}">

                <!--/* left-floating box */-->
                <div th:if="${boxStat.index} % 2 == 0" class="row">

                    <div class="col-sm-6 main-box-wrapper">
                        <!--<div>
                            <div class="col-sm-6 text-right">
                                <button type="submit" name="removeBox" th:value="${boxStat.index}"
                                        class="btn btn-xs btn-danger glyphicon glyphicon-remove"></button>
                            </div>
                        </div>-->
                        <div class="main-box left-box">
                            <div class="box-content-stretch">
                                <div class="box-content">
                                    <h3 class="duck-owner-heading">Pardiomanik</h3>
                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerFirstName')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerFirstName}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Eesnimi"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerFirstName')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>
                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerLastName')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerLastName}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Perekonnanimi"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerLastName')}"
                                              class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerPhone')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-earphone"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerPhone}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Telefoninumber"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerPhone')}"
                                              class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].duckQuantity')} ? 'has-error has-feedback'">
                                        <label class="col-sm-8 control-label main-box-form-label">Partide arv:</label>
                                        <div class="col-sm-4 zero-right-padding">
                                            <input th:field="*{boxes[__${boxStat.index}__].duckQuantity}"
                                                   th:id="'qty' + ${boxStat.count}"
                                                   class="form-control box-input qty"
                                                   type="number"
                                                   min="1" max="1000"
                                                   placeholder="1"/>
                                            <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].duckQuantity')}"
                                                  class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        </div>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].duckPrice')} ? 'has-error has-feedback'">
                                        <label class="col-sm-8 control-label main-box-form-label"
                                               style="color:#193a80;">Ühe
                                            pardi hind:</label>
                                        <div class="col-sm-4 zero-right-padding">
                                            <input th:field="*{boxes[__${boxStat.index}__].duckPrice}"
                                                   th:id="'prc' + ${boxStat.count}"
                                                   class="form-control box-input prc"
                                                   type="number"
                                                   min="5" max="1000" step="5"
                                                   placeholder="5"/>
                                            <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].duckPrice')}"
                                                  class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 new-box-btn-col">
                        <div th:if="${boxStat.first}" class="new-box-btn-wrapper">
                            <button type="submit" name="addBox" class="btn btn-remove circle btn-lg btn-new-box">
                                Lisa<br/>omanik<br/>
                                <span class="new-box-plus-sign">+</span>
                            </button>
                        </div>
                    </div>
                </div>

                <!--/* right-floating box */-->
                <div th:if="${boxStat.index} % 2 == 1" class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7 main-box-wrapper">
                        <div class="main-box right-box">
                            <div class="box-content-stretch">
                                <div class="box-content">
                                    <h3 class="duck-owner-heading">Pardiomanik</h3>
                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerFirstName')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerFirstName}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Eesnimi"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerFirstName')}"
                                              class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>
                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerLastName')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerLastName}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Perekonnanimi"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerLastName')}"
                                              class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerPhone')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-earphone"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerPhone}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Telefoninumber"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerPhone')}"
                                              class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].duckQuantity')} ? 'has-error has-feedback'">
                                        <label class="col-sm-8 control-label main-box-form-label">Partide arv:</label>
                                        <div class="col-sm-4 zero-right-padding">
                                            <input th:field="*{boxes[__${boxStat.index}__].duckQuantity}"
                                                   th:id="'qty' + ${boxStat.count}"
                                                   class="form-control box-input qty"
                                                   type="number"
                                                   min="1" max="1000"
                                                   placeholder="1"/>
                                            <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].duckQuantity')}"
                                                  class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        </div>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].duckPrice')} ? 'has-error has-feedback'">
                                        <label class="col-sm-8 control-label main-box-form-label">Ühe pardi
                                            hind:</label>
                                        <div class="col-sm-4 zero-right-padding">
                                            <input th:field="*{boxes[__${boxStat.index}__].duckPrice}"
                                                   th:id="'prc' + ${boxStat.count}"
                                                   class="form-control box-input prc"
                                                   type="number"
                                                   min="5" max="1000" step="5"
                                                   placeholder="5"/>
                                            <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].duckPrice')}"
                                                  class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--/* buyer info */-->
            <div th:if="${donation.boxes.size() % 2 == 0}" class="row buyer-row">
                <!--/* left-floating */-->
                <div class="col-sm-5">
                    <div class="main-box buyer-info-box">
                        <div class="box-content-stretch">
                            <div class="box-content">
                                <h3 class="duck-owner-heading">Maksja andmed</h3>
                                <div class="input-group"
                                     th:classappend="${#fields.hasErrors('buyerEmail')} ? 'has-error has-feedback'">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input th:field="*{buyerEmail}"
                                           class="form-control box-input"
                                           type="text"
                                           placeholder="E-mail"/>
                                    <span th:if="${#fields.hasErrors('buyerEmail')}"
                                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                                <div class="terms-check-wrap">
                                    <label th:classappend="${#fields.hasErrors('accepts')} ? 'invalid-accept-checkbox'">
                                        <input class="terms-check" th:field="*{accepts}" type="checkbox"/>
                                        Nõustun kasutustingimustega
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 total-info-col">
                    <div class="buy-btn-wrapper-left">
                        <button type="submit" class="btn btn-danger circle btn-lg btn-buy">Anneta</button>
                    </div>
                    <div class="total-sum-wrapper circle">
                        <span>Summa</span>
                        <span class="total-sum-amount">5.00</span>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div th:if="${donation.boxes.size() % 2 == 1}" class="row buyer-row">
                <!--/* right-floating */-->
                <div class="col-sm-3"></div>
                <div class="col-sm-4 total-info-col">
                    <div class="buy-btn-wrapper-right">
                        <button type="submit" class="btn btn-danger circle btn-lg btn-buy">ANNETA</button>
                    </div>
                    <div class="total-sum-wrapper circle">
                        <span>Summa</span>
                        <span class="total-sum-amount">5.00</span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="main-box buyer-info-box">
                        <div class="box-content-stretch">
                            <div class="box-content">
                                <h3 class="duck-owner-heading">Maksja andmed</h3>
                                <div class="input-group"
                                     th:classappend="${#fields.hasErrors('buyerEmail')} ? 'has-error has-feedback'">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input th:field="*{buyerEmail}"
                                           class="form-control box-input"
                                           type="text"
                                           placeholder="E-mail"
                                    />
                                    <span th:if="${#fields.hasErrors('buyerEmail')}"
                                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                                <div class="terms-check-wrap">
                                    <label th:classappend="${#fields.hasErrors('accepts')} ? 'invalid-accept-checkbox'">
                                        <input class="terms-check" th:field="*{accepts}" type="checkbox"/>
                                        Nõustun kasutustingimustega
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div th:replace="fragments/footer :: footer"></div>

    </div>
</div>

</body>

</html>
