<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Annetuse kinnitamine</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sniglet.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/counter_ajax.js}"></script>
</head>
<body>

<div class="wrapper">
    <div th:replace="fragments/menu :: side-menu"></div>

    <!--/*@thymesVar id="donation" type="ee.pardiralli.dto.DonationFormDTO"*/-->
    <div class="container container-general">
        <div th:replace="fragments/menu :: admin-menu"></div>

        <!--/*@thymesVar id="feedbackList" type="java.util.List<ee.pardiralli.feedback.Feedback>"*/-->
        <div th:replace="fragments/feedback :: feedback-messages (feedbackList=${feedbackList})"></div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="ralli-page-header">Annetuse kinnitamine</h2>
            </div>
        </div>
        <div class="panel panel-default donation-summary-text">
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Omanik</th>
                        <th>Telefoninumber</th>
                        <th>Partide arv</th>
                        <th>Ühe pardi hind</th>
                    </tr>
                    <tr th:each="box : ${donation.getBoxes()}">
                        <td><span th:text="${box.getOwnerFirstName()}" th:remove="tag"></span> <span th:text="${box.getOwnerLastName()}" th:remove="tag"></span></td>
                        <td th:text="${box.getOwnerPhone()}"></td>
                        <td th:text="${box.getDuckQuantity()}"></td>
                        <td><span th:text="${box.getDuckPrice()}" th:remove="tag"></span> €</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default donation-summary-text">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5 col-lg-2">Annetus kokku:</div>
                    <div class="col-sm-7 col-lg-10">
                        <!--/*@thymesVar id="totalSum" type="java.lang.Integer"*/-->
                        <div class="weight400"><span th:text="${totalSum}" th:remove="tag"></span> €</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-lg-2">E-post:</div>
                    <div class="col-sm-7 col-lg-10">
                        <div class="weight400" th:text="${donation.getBuyerEmail()}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default donation-summary-text">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 text-center border-right">
                        <a class="btn center-block btn-banklink" th:href="@{/banklink/swedbank/pay}">
                            <span class="banklink-text">Swedbank</span>
                            <img class="banklink-logo" src="css/images/swedbank-logo.png" alt="Swedbank"/>
                        </a>
                    </div>
                    <div class="col-md-3 text-center border-right">
                        <a class="btn center-block btn-banklink" th:href="@{/banklink/seb/pay}">
                            <span class="banklink-text">SEB</span>
                            <img class="banklink-logo" src="css/images/seb-logo.png" alt="SEB"/>
                        </a>
                    </div>
                    <div class="col-md-3 text-center border-right">
                        <a class="btn center-block btn-banklink" th:href="@{/banklink/lhv/pay}">
                            <span class="banklink-text">LHV</span>
                            <img class="banklink-logo" src="css/images/lhv-logo.png" alt="LHV"/>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a class="btn center-block btn-banklink" th:href="@{/banklink/nordea/pay}">
                            <span class="banklink-text">Nordea</span>
                            <img class="banklink-logo" src="css/images/nordea-logo.png" alt="Nordea"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

    </div>
</div>

</body>
</html>