<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Pardiralli</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sniglet.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cabin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/form-control.js}"></script>
    <script type="text/javascript" th:src="@{/js/counter_ajax.js}"></script>
</head>
<body>

<div class="wrapper">
    <div th:replace="fragments/menu :: side-menu"></div>

    <div class="container container-general">
        <div th:replace="fragments/menu :: admin-menu"></div>

        <div sec:authorize="!isAuthenticated()" class="main-heading-wrap">
            <h2 class="main-heading text-center">Pardiralli annetuskeskkond</h2>
        </div>

        <p th:if="${param.logoutsuccess}" class="alert alert-success" th:text="#{index.logoutsuccess}"></p>
        <p th:if="${param.loginerror}" class="alert alert-danger" th:text="#{index.loginerror}"></p>
        <p th:if="${param.paymentfail}" class="alert alert-danger" th:text="#{index.paymentfail}"></p>
        <p th:if="${param.error}" class="alert alert-danger" th:text="#{index.error}"></p>


        <!--/*@thymesVar id="feedbackList" type="java.util.List<ee.pardiralli.feedback.Feedback>"*/-->
        <div th:replace="fragments/feedback :: feedback-messages (feedbackList=${feedbackList})"></div>

        <!--/*@thymesVar id="donation" type="ee.pardiralli.dto.DonationFormDTO"*/-->
        <form action="#" th:action="@{/}" th:object="${donation}" method="post" class="form-horizontal">

            <!--/* donation box */-->
            <div th:each="box, boxStat : *{boxes}">

                <!--/* left-floating box */-->
                <div th:if="${boxStat.index} % 2 == 0" class="row">

                    <div class="col-xs-10 col-md-8 col-lg-7 col-xl-6 main-box-wrapper">
                        <div class="main-box left-box">
                            <div class="box-content-stretch">
                                <div class="box-content">
                                    <h3 class="duck-owner-heading">Pardiomanik
                                        <div th:if="*{boxes.size() > 1}" class="box-remove-wrap pull-right">
                                            <button type="submit" name="removeBox" th:value="${boxStat.index}"
                                                    class="box-remove-btn btn btn-lg btn-primary-outline glyphicon glyphicon-remove"></button>
                                        </div>
                                    </h3>
                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerFirstName')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerFirstName}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Eesnimi"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerFirstName')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>
                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerLastName')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerLastName}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Perekonnanimi"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerLastName')}"
                                              class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerPhone')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-earphone"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerPhone}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Telefoninumber"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerPhone')}"
                                              class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].duckQuantity')} ? 'has-error has-feedback'">
                                        <label class="col-xs-8 control-label main-box-form-label">Partide arv:</label>
                                        <div class="col-xs-4 zero-right-padding">
                                            <input th:field="*{boxes[__${boxStat.index}__].duckQuantity}"
                                                   th:id="'qty' + ${boxStat.count}"
                                                   class="form-control box-input qty"
                                                   style="border-radius: 5px;"
                                                   type="number"
                                                   min="1" max="1000"
                                                   placeholder="1"/>
                                            <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].duckQuantity')}"
                                                  class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        </div>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].duckPrice')} ? 'has-error has-feedback'">
                                        <label class="col-xs-8 control-label main-box-form-label">Vali pardi hind:</label>
                                        <div class="col-xs-4 zero-right-padding">
                                            <!-- DO NOT REMOVE THIS INPUT -->
                                            <!-- THIS IS A HIDDEN INPUT FIELD TO FETCH DROPDOWN MENU'S VALUE -->
                                            <input th:field="*{boxes[__${boxStat.index}__].duckPrice}"
                                                    id="hiddenInput"
                                                    style="visibility: hidden;"
                                            />
                                            <select class="form-control box-input prc priceSelection"
                                                    id="selectedPrice"
                                                   aria-label="Pardi hind"
                                                   onchange="document.getElementById('hiddenInput').value = document.getElementById('selectedPrice').value;"
                                            >
                                                <option selected disabled value="10"></option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="75">75</option>
                                                <option value="100">100</option>
                                                <option value="150">150</option>
                                                <option value="200">200</option>
                                                <option value="300">300</option>
                                                <option value="400">400</option>
                                                <option value="500">500</option>
                                                <option value="600">600</option>
                                                <option value="700">700</option>
                                                <option value="800">800</option>
                                                <option value="900">900</option>
                                                <option value="1000">1000</option>
                                            </select>
                                            <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].duckPrice')}"
                                                  class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-md-4 col-lg-5 col-xl-6 new-box-btn-col">
                        <div th:if="${boxStat.first}" class="new-box-btn-wrapper">
                            <button type="submit" name="addBox" class="btn btn-remove circle btn-lg btn-new-box">
                                Lisa<br/>omanik<br/>
                                <span class="new-box-plus-sign">+</span>
                            </button>
                        </div>
                    </div>
                </div>

                <!--/* right-floating box */-->
                <div th:if="${boxStat.index} % 2 == 1" class="row">
                    <div class="col-xs-2 col-md-4 col-lg-5 col-xl-6"></div>
                    <div class="col-xs-10 col-md-8 col-lg-7 col-xl-6 main-box-wrapper">
                        <div class="main-box right-box">
                            <div class="box-content-stretch">
                                <div class="box-content">
                                    <h3 class="duck-owner-heading">Pardiomanik
                                        <div th:if="*{boxes.size() > 1}" class="box-remove-wrap pull-right">
                                            <button type="submit" name="removeBox" th:value="${boxStat.index}"
                                                    class="box-remove-btn btn btn-lg btn-primary-outline glyphicon glyphicon-remove"></button>
                                        </div>
                                    </h3>
                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerFirstName')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerFirstName}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Eesnimi"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerFirstName')}"
                                              class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>
                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerLastName')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerLastName}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Perekonnanimi"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerLastName')}"
                                              class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerPhone')} ? 'has-error has-feedback'">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-earphone"></i></span>
                                        <input th:field="*{boxes[__${boxStat.index}__].ownerPhone}"
                                               class="form-control box-input"
                                               type="text"
                                               placeholder="Telefoninumber"/>
                                        <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].ownerPhone')}"
                                              class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].duckQuantity')} ? 'has-error has-feedback'">
                                        <label class="col-xs-8 control-label main-box-form-label">Partide arv:</label>
                                        <div class="col-xs-4 zero-right-padding">
                                            <input th:field="*{boxes[__${boxStat.index}__].duckQuantity}"
                                                   th:id="'qty' + ${boxStat.count}"
                                                   class="form-control box-input qty"
                                                   type="number"
                                                   min="1" max="1000"
                                                   placeholder="1"/>
                                            <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].duckQuantity')}"
                                                  class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        </div>
                                    </div>

                                    <div class="input-group"
                                         th:classappend="${#fields.hasErrors('boxes[__${boxStat.index}__].duckPrice')} ? 'has-error has-feedback'">
                                        <label class="col-xs-8 control-label main-box-form-label">Vali pardi hind:</label>
                                        <div class="col-xs-4 zero-right-padding">
                                            <input th:field="*{boxes[__${boxStat.index}__].duckPrice}"
                                                    id="hiddenInput2"
                                                    style="visibility: hidden;"
                                            />
                                            <select class="form-control box-input prc priceSelection"
                                                    id="selectedPrice2"
                                                   aria-label="Pardi hind"
                                                   onchange="document.getElementById('hiddenInput2').value = document.getElementById('selectedPrice2').value;"
                                            >
                                                <option selected value="10"></option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="75">75</option>
                                                <option value="100">100</option>
                                                <option value="150">150</option>
                                                <option value="200">200</option>
                                                <option value="300">300</option>
                                                <option value="400">400</option>
                                                <option value="500">500</option>
                                                <option value="600">600</option>
                                                <option value="700">700</option>
                                                <option value="800">800</option>
                                                <option value="900">900</option>
                                                <option value="1000">1000</option>
                                            </select>
                                            <span th:if="${#fields.hasErrors('boxes[__${boxStat.index}__].duckPrice')}"
                                                  class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--/* buyer info */-->
            <div th:if="${donation.boxes.size() % 2 == 0}" class="row buyer-row">
                <!--/* left-floating */-->
                <div class="col-xs-9 col-sm-8 col-lg-5">
                    <div class="main-box buyer-info-box">
                        <div class="box-content-stretch">
                            <div class="box-content">
                                <h3 class="duck-owner-heading">Maksja andmed</h3>
                                <div class="input-group"
                                     th:classappend="${#fields.hasErrors('buyerEmail')} ? 'has-error has-feedback'">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input th:field="*{buyerEmail}"
                                           class="form-control box-input"
                                           type="text"
                                           placeholder="E-mail"/>
                                    <span th:if="${#fields.hasErrors('buyerEmail')}"
                                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                                <div class="terms-check-wrap">
                                    <input id="accept2" class="terms-check" th:field="*{accepts}" type="checkbox"/>
                                    <label for="accept2" th:classappend="${#fields.hasErrors('accepts')} ? 'invalid-accept-checkbox'">
                                        Nõustun <a target="_blank" href="https://www.pardiralli.ee/reeglid">kasutustingimustega</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-4 col-lg-4 total-info-col">
                    <div class="buy-btn-wrapper-left">
                        <button type="submit" class="btn btn-danger circle btn-lg btn-buy">Anneta</button>
                    </div>
                    <div class="total-sum-wrapper circle">
                        <span>Summa</span>
                        <span class="total-sum-amount">10.00</span>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>

            <div th:if="${donation.boxes.size() % 2 == 1}" class="row buyer-row">
                <!--/* right-floating */-->
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
                <div class="col-xs-3 col-sm-4 col-lg-4 total-info-col">
                    <div class="buy-btn-wrapper-right">
                        <button type="submit" class="btn btn-danger circle btn-lg btn-buy">ANNETA</button>
                    </div>
                    <div class="total-sum-wrapper circle">
                        <span>Summa</span>
                        <span class="total-sum-amount">10.00</span>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-8 col-lg-5">
                    <div class="main-box buyer-info-box">
                        <div class="box-content-stretch">
                            <div class="box-content">
                                <h3 class="duck-owner-heading">Maksja andmed</h3>
                                <div class="input-group"
                                     th:classappend="${#fields.hasErrors('buyerEmail')} ? 'has-error has-feedback'">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input th:field="*{buyerEmail}"
                                           class="form-control box-input"
                                           type="text"
                                           placeholder="E-mail"
                                    />
                                    <span th:if="${#fields.hasErrors('buyerEmail')}"
                                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                                <div class="terms-check-wrap">
                                    <input id="accept" class="terms-check" th:field="*{accepts}" type="checkbox"/>
                                    <label for="accept" th:classappend="${#fields.hasErrors('accepts')} ? 'invalid-accept-checkbox'">
                                        Nõustun <a target="_blank" href="https://www.pardiralli.ee/reeglid">kasutustingimustega</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div th:replace="fragments/footer :: footer"></div>

    </div>
</div>

</body>

</html>