<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Makse sooritatud</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf != null ? _csrf.token : 'testing'}"/>
    <meta name="_csrf_header" th:content="${_csrf != null ?_csrf.headerName:'testing'}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sniglet"/>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/counter_ajax.js"></script>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/menu :: side-menu"></div>

    <div class="container container-general">
        <div th:replace="fragments/menu :: admin-menu"></div>
        <br/>
        <h3>Makse edukalt sooritatud!</h3>
        <br/>
        <div>
            <h4><strong>Teie pardiostu info</strong></h4>
            <br/>
            <table id="information" class="table table-striped">
                <thead>
                <tr>
                    <th>Pardi nr</th>
                    <th>Omaniku eesnimi</th>
                    <th>Omaniku perekonnanimi</th>
                    <th>Omaniku telefoninumber</th>
                    <th>Hind</th>
                </tr>
                </thead>
                <!--/*@thymesVar id="purchasedItems" type="java.util.List<ee.pardiralli.dto.DuckDTO>"*/-->
                <tr th:each="duckDTO : ${purchasedItems}">
                    <td th:text="${duckDTO.getSerialNumber()}"></td>
                    <td th:text="${duckDTO.getOwnerFirstName()}"></td>
                    <td th:text="${duckDTO.getOwnerLastName()}"></td>
                    <td th:text="${duckDTO.getOwnerPhoneNo()}"></td>
                    <td th:text="${duckDTO.getPrice()}"></td>
                </tr>
            </table>
            <br/>
            <div>
                <!--/*@thymesVar id="transactionID" type="java.lang.String"*/-->
                <span class="payment_success_stuff">Tehingu nr: </span><span th:text="${transactionID}"></span>
                <br/>
                <br/>
                <!--/*@thymesVar id="buyerEmail" type="java.lang.String"*/-->
                <span class="payment_success_stuff">E-mail: </span><span th:text="${buyerEmail}"></span>
            </div>
            <br/>
            <!--/*@thymesVar id="totalSum" type="java.lang.String"*/-->
            <span id="payment_success_sum" th:text="'Summa: '+ ${totalSum} + '€'"></span>
        </div>
        <br/>
        <h3>Täname Pardirallit toetamast!</h3>
        <div th:replace="fragments/footer :: footer"></div>

    </div>
</div>
</body>

</html>