<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Makse sooritatud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/admin.css"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Pardiralli</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}">Avaleht</a></li>
            <li><a th:href="@{/statistics}">Statistika</a></li>
            <li><a th:href="@{/search}">Otsing</a></li>
            <li><a th:href="@{/settings}">Võistlused</a></li>
            <li class="active"><a th:href="@{/insert}">Sisestus</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span>Logi välja</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h3>Makse edukalt sooritatud!</h3>
    <br/>
    <div>
        <h4>Teie pardiostu info</h4>
        <br/>
        <div>
            <!--/*@thymesVar id="transactionID" type="java.lang.String"*/-->
            <div th:text="'Tehingu nr: ' + ${transactionID}"></div>
            <br/>
            <!--/*@thymesVar id="buyerEmail" type="java.lang.String"*/-->
            <div th:text="'E-mail: ' + ${buyerEmail}"></div>
        </div>
        <br/>
        <table id="information" class="table">
            <thead>
            <tr>
                <th>Pardi nr</th>
                <th>Omaniku eesnimi</th>
                <th>Omaniku perekonnanimi</th>
                <th>Omaniku telefoninumber</th>
                <th>Hind</th>
            </tr>
            </thead>
            <!--/*@thymesVar id="purchasedItems" type="java.util.List<ee.pardiralli.dto.DuckDTO>"*/-->
            <tr th:each="duckDTO : ${purchasedItems}">
                <td th:text="${duckDTO.getSerialNumber()}"></td>
                <td th:text="${duckDTO.getOwnerFirstName()}"></td>
                <td th:text="${duckDTO.getOwnerLastName()}"></td>
                <td th:text="${duckDTO.getOwnerPhoneNo()}"></td>
                <td th:text="${duckDTO.getPrice()}"></td>
            </tr>
        </table>
        <br/>
        <!--/*@thymesVar id="totalSum" type="java.lang.String"*/-->
        <div th:text="'Summa: ' + ${totalSum} + '€'"></div>
    </div>
    <br/>
    <h3>Aitäh Pardirallit toetamast!</h3>
</div>
</body>

</html>