<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Kinnitus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/admin.css"/>
</head>
<body>

<ul>
    <li><a>Avaleht </a></li>
    <li><a>Uudised </a></li>
    <li><a>Osale </a></li>
    <li><a>Kava </a></li>
    <li><a>Auhinnad </a></li>
    <li><a>Galerii </a></li>
    <li><a>Eesmärk </a></li>
    <li><a>Administraatori valikud </a></li>
</ul>

<p>
    Makse edukalt sooritatud!
</p>

<!--/*@thymesVar id="Index" type="java.util.List<ee.pardiralli.domain.Index>"*/-->
<p>Siin on Sinu pardiostu info</p>

<table>
    <tbody>
    <tr>
        <th>Eesnimi</th>
        <th>Perekonnanimi</th>
        <th>E-mail</th>
        <th>Telefoninumber</th>
        <th>Partide arv</th>
        <th>Ühe pardi hind</th>
        <th>Summa kokku</th>

    </tr>
    <!--/*@thymesVar id="Index" type="java.util.List<ee.pardiralli.domain.Index>"*/-->
    <tr th:each="ind : ${Index}">
        <td th:text="${ind.getFirstName()}"></td>
        <td th:text="${ind.getLastName()}"></td>
        <td th:text="${ind.getBuyersEmail()}"></td>
        <td th:text="${ind.getPhoneNumber()}"></td>
        <td th:text="${ind.getNrOfDucks()}"></td>
        <td th:text="${ind.getPricePerDuck()}"></td>
        <td th:text="${ind.getSum()}"></td>
    </tr>
    </tbody>
</table>

<p>Aitäh Pardirallit toetamast!</p>

</body>
</html>