<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pardiralli</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>

<div class="container">

    <div th:replace="fragments/menu :: main-menu"></div>

    <!--/*@thymesVar id="feedbackList" type="java.util.List<ee.pardiralli.domain.Feedback>"*/-->
    <div th:replace="fragments/feedback :: feedback-messages (feedbackList=${feedbackList})"></div>

    <!--/*@thymesVar id="donation" type="ee.pardiralli.dto.DonationFormDTO"*/-->
    <form action="#" th:action="@{/idx}" th:object="${donation}" method="post">

        <!--/* donation box */-->
        <div th:each="box, boxStat : *{boxes}">

            <!--/* left-floating box */-->
            <div th:if="${boxStat.index} % 2 == 1">
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7 well">
                        <div>
                            <div class="col-sm-6 text-left"><p th:text="${boxStat.count}">...</p></div>
                            <div class="col-sm-6 text-right">
                                <button type="submit" name="removeBox" th:value="${boxStat.index}"
                                        class="btn btn-xs btn-danger glyphicon glyphicon-remove"></button>
                            </div>
                        </div>
                        <div class="row">
                            <input th:field="*{boxes[__${boxStat.index}__].ownerPhone}" class="form-control"
                                   type="text"/>
                        </div>
                        <div class="row">
                            <input th:field="*{boxes[__${boxStat.index}__].duckQuantity}" class="form-control"
                                   type="number"
                                   min="1" max="1000"/>
                        </div>
                        <div class="row">
                            <input th:field="*{boxes[__${boxStat.index}__].duckPrice}" class="form-control"
                                   type="number"
                                   min="5" max="1000" step="5"/>
                        </div>
                    </div>
                </div>
                <div th:if="${boxStat.last}" class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                        <button type="submit" name="addBox" class="btn btn-success">Lisa kast</button>
                    </div>
                </div>
            </div>

            <!--/* right-floating box */-->
            <div th:if="${boxStat.index} % 2 == 0">
                <div class="row">
                    <div class="col-sm-6 well">
                        <div>
                            <div class="col-sm-6 text-left"><p th:text="${boxStat.count}">...</p></div>
                            <div class="col-sm-6 text-right">
                                <button type="submit" name="removeBox" th:value="${boxStat.index}"
                                        class="btn btn-xs btn-danger glyphicon glyphicon-remove"></button>
                            </div>
                        </div>
                        <div class="row">
                            <input th:field="*{boxes[__${boxStat.index}__].ownerPhone}" class="form-control"
                                   type="text"/>
                        </div>
                        <div class="row">
                            <input th:field="*{boxes[__${boxStat.index}__].duckQuantity}" class="form-control"
                                   type="number"
                                   min="1" max="1000"/>
                        </div>
                        <div class="row">
                            <input th:field="*{boxes[__${boxStat.index}__].duckPrice}" class="form-control"
                                   type="number"
                                   min="5" max="1000" step="5"/>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
                <div th:if="${boxStat.last}" class="row">
                    <div class="col-sm-6">
                        <button type="submit" name="addBox" class="btn btn-success">Lisa kast</button>
                    </div>
                </div>
            </div>

        </div>


        <!--/* buyer info */-->
        <hr/>
        <div>
            <input th:field="${donation.buyerEmail}"/>
        </div>

    </form>

</div>

</body>
</html>
