<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="font-family: Arial, Helvetica, sans-serif;font-size:14px;">
<div style="padding:15px;margin:auto;">
    <div style="margin:10px;font-size:18px;">T&auml;name, et toetate Pardirallit!</div>
    <table style="text-align:left;border-collapse:collapse;width:100%;margin-bottom:20px;border-radius:5px;color:#333;background-color:#fff020;">
        <thead>
        <tr>
            <th style="padding:8px;">Pardi number</th>
            <th style="padding:8px;">Omaniku eesnimi</th>
            <th style="padding:8px;">Omaniku perenimi</th>
            <th style="padding:8px;">Omaniku telefoninumber</th>
            <th style="padding:8px;">Hind</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="duck:${ducks}" style="border-top:1px solid #ffffff;">
            <td th:text="${duck.getSerialNumber()}" style="padding:8px;"></td>
            <td th:text="${duck.getDuckOwner().getFirstName()}" style="padding:8px;"></td>
            <td th:text="${duck.getDuckOwner().getLastName()}" style="padding:8px;"></td>
            <td th:text="${duck.getDuckOwner().getPhoneNumber()}" style="padding:8px;"></td>
            <td th:text="${duck.getPriceEuros()}" style="padding:8px;"></td>
        </tr>
        </tbody>
    </table>
    <div th:text="'Tehingu nr: '+${ducks.get(0).getTransaction().getId()}" style="color:#333;font-weight:bold;padding:10px;border-top-left-radius:5px;border-top-right-radius:5px;background-color:#fff020;"></div>
    <div th:text="'Summa: '+${total} + ' eurot'" style="color:#333;font-weight:bold;padding:10px;background-color:#fff020;"></div>
    <div style="color:#333;font-weight:bold;padding:10px;border-bottom-left-radius:5px;border-bottom-right-radius: 5px;background-color:#fff020;">EVLVL (Eesti Vähihaigete Laste Vanemate Liit) | Registrikood: 80096899 | info@vahilapsed.ee</div>
</div>
</body>
</html>