<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pardiralli</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/admin.css"/>

    <script>
        function getTotal() {
            var sum = getNrOfDucks() * getPricePerDuck();
            //display the result
            document.getElementById('sum').innerHTML =
                    "Summa: " + sum;
        }

        function getNrOfDucks() {

            var theForm = document.forms["mainform"];
            //Get a reference to the TextBox
            var quantity = theForm.elements["nrofducks"];
            var howmany = 0;
            //If the textbox is not blank
            if (quantity.value != "") {
                howmany = parseInt(quantity.value);
                //howmany = quantity.value;
            }
            return howmany;
        }

        function getPricePerDuck() {
            var theForm = document.forms["mainform"];
            //Get a reference to the TextBox
            var quantity = theForm.elements["priceperduck"];
            var howmuch = 0;
            //If the textbox is not blank
            if (quantity.value != "") {
                howmuch = parseInt(quantity.value);
                //howmuch = quantity.value;
            }
            return howmuch;
        }
    </script>
</head>
<body>

<ul>
    <li><a>Avaleht </a></li>
    <li><a>Uudised </a></li>
    <li><a>Osale </a></li>
    <li><a>Kava </a></li>
    <li><a>Auhinnad </a></li>
    <li><a>Galerii </a></li>
    <li><a>Eesmärk </a></li>
    <li><a>Administraatori valikud </a></li>
</ul>

<div>
    <h1>Aitäh, et oled otsustanud Pardiralli eesmärki toetada!</h1>
</div>

<!--/*@thymesVar id="Index" type="ee.pardiralli.domain.Index"*/-->
<div th:if="${Index.getIsShopOpen() == true}">

    <form id="mainform" th:action="@{/}" th:object="${Index}" method="post">
        <h3>Anna oma panus!</h3>
        <p>Pardirallil osalemine ei ole keeruline: siinsamas lehel saad soetada niimitu parti kui soovid. Ka pardi hinna
            saad ise valida. Ostu kinnituseks saad enda e-mailile ostetud partide numbrid: nii saad jälgida, kuidas neil
            pardirallis teiste partide vastu võisteldes läheb.
            Parte saab osta erinevate inimeste nimele: näiteks oma laste, sõprade või vanemate nimedele, et teha neile
            vahva üllatus.
            Iga part osaleb auhindade loosimises!</p>
        <label for="firstname">Eesnimi</label>
        <input id="firstname"
               type="text"
               th:field="*{firstName}"
               required="required"
               name="firstname"/>
        <label for="lastname">Perekonnanimi</label>
        <input id="lastname"
               type="text"
               th:field="*{lastName}"
               required="required"
               name="lastname"/>
        <label for="phonenumber">Telefoninumber</label>
        <input id="phonenumber"
               type="text"
               th:field="*{phoneNumber}"
               required="required"
               name="phonenumber"/>
        <label for="nrofducks">Mitu parti</label>
        <input id="nrofducks" type="number" min="1" max="100" step="1" value="1" th:field="*{nrOfDucks}"
               onclick="getTotal()" onkeyup="getTotal()" onchange="getTotal()" oninput="getTotal()"/>

        <label for="priceperduck">Ühe pardi hind</label>
        <input id="priceperduck" type="number" min="5" max="1000" step="5" value="5" th:field="*{pricePerDuck}"
               onclick="getTotal()" onkeyup="getTotal()" onchange="getTotal()" oninput="getTotal()"/>

        <hr/>

        <div> <!-- TODO osta part sõbrale sektsioon-->
        </div>

        <div id="sum"><p>Summa on: 0</p></div>

        <hr/>

        <h4>Ostja andmed:</h4>
        <label for="buyersemail">E-mail</label>
        <input id="buyersemail"
               type="email"
               th:field="*{buyersEmail}"
               name="buyersemail"/>


        <label for="confirmemail">E-mail</label>
        <input id="confirmemail"
               type="email"
               th:field="*{confirmEmail}"
               name="confirmemail"/>

        <div>
            <input id="terms" type="checkbox" th:field="*{hasAgreed}"/>
            <label th:for="terms">Olen lugenud pardiralli <a href="/conditions">tingimusi</a> ja nõustun nendega</label>

        </div>
        <div>
            <input type="submit" value="Osta" name="action" class="button"/>
        </div>
    </form>
</div>

<div th:if="${Index.getIsShopOpen() == false}">
    <p>Praegu on ostmine kinni, vabandame!</p>
</div>

<div>
    <p th:text="${'Hetkeseisuga läheb rallima ' + Index.getNrOfSoldDucks()+ ' parti'}">Hetkeseisuga läheb rallima 3
        parti!</p>
</div>

<div>
    <p th:text="${'Kogutud on aga ' + Index.getNrOfSoldDucks()+ ' eurot'}">Kogutud on aga 15 eurot.</p>
</div>


</body>
</html>
