<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="et">
<head>
    <title>Otsing</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sniglet.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/public-search.js}"></script>
    <script type="text/javascript" th:src="@{/js/counter_ajax.js}"></script>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/menu :: side-menu"></div>
    <div class="container container-general">
        <div th:replace="fragments/menu :: admin-menu"></div>

        <div sec:authorize="!isAuthenticated()" class="main-heading-wrap">
            <h2 class="main-heading text-center">Pardiralli annetuskeskkond</h2>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <!--/*@thymesVar id="feedbackList" type="java.util.List<ee.pardiralli.feedback.Feedback>"*/-->
                <div th:replace="fragments/feedback :: feedback-messages (feedbackList=${feedbackList})"></div>

                <!--/*@thymesVar id="query" type="ee.pardiralli.dto.PublicSearchQueryDTO"*/-->
                <form class="form-horizontal public-search" th:action="@{/ducks/search}" th:object="${query}" method="post">

                    <div class="form-group" th:classappend="${#fields.hasErrors('ownersFirstName')} ? 'has-error has-feedback'">
                        <label class="control-label col-sm-6 col-md-3" th:text="#{publicsearch.form.first_name}" th:for="${#fields.idFromName('ownersFirstName')}"></label>
                        <div class="col-sm-6 col-md-9">
                            <input type="text" class="form-control" th:field="*{ownersFirstName}" required="required"/>
                            <span th:if="${#fields.hasErrors('ownersFirstName')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            <div th:if="${#fields.hasErrors('ownersFirstName')}" class="err-msg-specific" th:text="#{publicsearch.form.err.too_few_chars}"></div>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('ownersPhone')} ? 'has-error has-feedback'">
                        <label class="control-label col-sm-6 col-md-3" th:text="#{publicsearch.form.phone}" th:for="${#fields.idFromName('ownersPhone')}"></label>
                        <div class="col-sm-6 col-md-9">
                            <input type="text" class="form-control" th:field="*{ownersPhone}" required="required"/>
                            <span th:if="${#fields.hasErrors('ownersPhone')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            <div th:if="${#fields.hasErrors('ownersPhone')}" class="err-msg-specific" th:text="#{publicsearch.form.err.too_few_numbers}"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-6 col-md-offset-3 col-sm-6 col-md-9">
                            <input type="submit" class="btn btn-default" value="Otsi"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--/*@thymesVar id="results" type="java.util.List<ee.pardiralli.dto.PublicSearchResultDTO>"*/-->
        <div th:if="${results?.size() > 0}" class="panel panel-default">
            <div class="panel-body">
                <table id="public-results" class="table">
                    <thead>
                    <tr>
                        <th th:text="#{publicsearch.table_header.owner}"></th>
                        <th th:text="#{publicsearch.table_header.phone_suffix}"></th>
                        <th th:text="#{publicsearch.table_header.duck_no}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="res : ${results}">
                        <td th:text="${res.getOwnerFirstName()}"></td>
                        <td th:text="${res.getOwnerPhoneSuffix()}"></td>
                        <td th:text="${res.getSerialNumber()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>
</html>