<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pardiralli</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf != null ? _csrf.token : 'testing'}"/>
    <meta name="_csrf_header" th:content="${_csrf != null ?_csrf.headerName:'testing'}"/>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/menu :: side-menu"></div>

    <div class="container container-general">
        <div th:replace="fragments/menu :: admin-menu"></div>
        <h3>Hetkel ei ole partide ostmine avatud. Vabandame!</h3>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>
</html>