<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Pardiralli</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sniglet.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/counter_ajax.js}"></script>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/menu :: side-menu"></div>

    <div class="container container-general">
        <div th:replace="fragments/menu :: admin-menu"></div>
        <h3 sec:authorize="!isAuthenticated()" class="race-not-open-msg">Hetkel ei ole partide ostmine avatud. Vabandame!</h3>
        <h3 sec:authorize="isAuthenticated()" class="race-not-open-msg">Hetkel ei ole partide ostmine avatud. Avamiseks loo uus Ralli.</h3>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>
</html>