<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Otsi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/admin.css"/>
</head>
<body>
<ul>
    <li><a>Avaleht </a></li>
    <li><a>Uudised </a></li>
    <li><a>Osale </a></li>
    <li><a>Kava </a></li>
    <li><a>Auhinnad </a></li>
    <li><a>Galerii </a></li>
    <li><a>Eesmärk </a></li>
    <li><a>Administraatori valikud </a></li>
</ul>
<!--/*@thymesVar id="search" type="ee.pardiralli.domain.Search"*/-->
<form th:action="@{/search}" th:object="${search}" method="post">
    <h4>Otsi</h4>
    <label for="search_quick">Otsi omanikku pardi ID järgi</label>
    <input id="search_quick"
           type="number"
           th:field="*{itemId}"
           required="required"
           name="search_quick"/>
    <div>
        <input type="submit" value="Otsi!"/>
    </div>
</form>
<table>
    <tbody>
    <tr>
        <th>Pardi ID</th>
        <th>Ostja e-mail</th>
        <th>Omaniku eesnimi</th>
        <th>Omaniku perenimi</th>
        <th>Omaniku telefoninumber</th>
    </tr>
    <!--/*@thymesVar id="result" type="java.util.List<ee.pardiralli.domain.Duck>"*/-->
    <tr th:each="res : ${result}">
        <td th:text="${res.getId()}"></td>
        <td th:text="${res.getDuckBuyer().getEmail()}"></td>
        <td th:text="${res.getDuckOwner().getFirstName()}"></td>
        <td th:text="${res.getDuckOwner().getLastName()}"></td>
        <td th:text="${res.getDuckOwner().getPhoneNumber()}"></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/search}" th:object="${search}" method="post">
    <h4>Täpsem otsing</h4>
    <div>
        <label for="duck_number_long">Pardi number</label>
        <input id="duck_number_long"
               type="number"
               th:field="*{itemId}"
               name="search"/>
    </div>
    <div>
        <label for="first_name_long">Omaniku eesnimi</label>
        <input id="first_name_long"
               type="text"
               th:field="*{ownersFirstName}"
               name="first_name_long"/>
    </div>
    <div>
        <label for="last_name_long">Omaniku perenimi</label>
        <input id="last_name_long"
               type="text"
               th:field="*{ownersLastName}"
               name="last_name_long"/>
    </div>
    <div>
        <label for="email_long">Ostja e-mail</label>
        <input id="email_long"
               type="email"
               th:field="*{buyersEmail}"
               name="email_long"/>
    </div>
    <div>
        <label for="phone_number_long">Omaniku telefoninumber</label>
        <input id="phone_number_long"
               type="text"
               th:field="*{ownersPhoneNr}"
               name="phone_number_long"/>
    </div>
    <div>
        <input type="submit" value="Otsi!"/>
    </div>
</form>
</body>
</html>