<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Otsi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/admin.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="javascript/search.js"></script>
</head>
<body>
<ul>
    <li><a>Avaleht </a></li>
    <li><a>Uudised </a></li>
    <li><a>Osale </a></li>
    <li><a>Kava </a></li>
    <li><a>Auhinnad </a></li>
    <li><a>Galerii </a></li>
    <li><a>Eesmärk </a></li>
    <li><a>Administraatori valikud </a></li>
</ul>
<!--/*@thymesVar id="search" type="ee.pardiralli.domain.Search"*/-->
<form id="exact" th:action="@{/search}" th:object="${search}" method="post">
    <h4>Otsi</h4>
    <label for="search_quick_id">Otsi omanikku pardi ID järgi</label>
    <input id="search_quick_id"
           type="number"
           th:field="*{serialNumber}"
           required="required"
           name="search_quick_id"/>
    <label for="search_quick_date">Alguskuupäev</label>
    <input id="search_quick_date"
           type="date"
           th:field="*{raceBeginningDate}"
           required="required"
           name="search_quick_date"/>
    <div>
        <input type="submit" value="Otsi!"/>
    </div>
</form>
<form id="general" th:action="@{/search}" th:object="${search}" method="post">
    <h4>Täpsem otsing</h4>
    <div>
        <label for="first_name_long">Omaniku eesnimi</label>
        <input id="first_name_long"
               type="text"
               th:field="*{ownersFirstName}"
               name="first_name_long"/>
    </div>
    <div>
        <label for="last_name_long">Omaniku perenimi</label>
        <input id="last_name_long"
               type="text"
               th:field="*{ownersLastName}"
               name="last_name_long"/>
    </div>
    <div>
        <label for="email_long">Ostja e-mail</label>
        <input id="email_long"
               type="text"
               th:field="*{buyersEmail}"
               name="email_long"/>
    </div>
    <div>
        <label for="phone_number_long">Omaniku telefoninumber</label>
        <input id="phone_number_long"
               type="text"
               th:field="*{ownersPhoneNr}"
               name="phone_number_long"/>
    </div>
    <label for="search_date">Alguskuupäev</label>
    <input id="search_date"
           type="date"
           th:field="*{raceBeginningDate}"
           required="required"
           name="search_date"/>
    <div>
        <input type="submit" value="Otsi!"/>
    </div>
</form>
<noscript>
    <h4>JavaScript on keelatud, kuvatakse ainult esimesed 30 rida</h4>
</noscript>
<table id="results" class="tablesorter">
    <thead>
    <tr>
        <th>Pardi ID</th>
        <th>Ostja e-mail</th>
        <th>Omaniku eesnimi</th>
        <th>Omaniku perenimi</th>
        <th>Omaniku telefoninumber</th>
        <th>Üritus</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="result" type="java.util.List<ee.pardiralli.domain.Duck>"*/-->
    <tr th:each="res : ${result}">
        <td th:text="${res.getSerialNumber()}"></td>
        <td th:text="${res.getDuckBuyer().getEmail()}"></td>
        <td th:text="${res.getDuckOwner().getFirstName()}"></td>
        <td th:text="${res.getDuckOwner().getLastName()}"></td>
        <td th:text="${res.getDuckOwner().getPhoneNumber()}"></td>
        <td th:text="${res.getRace().getBeginning()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>