<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seaded</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/admin.css"/>
</head>
<body>
<ul>
    <li><a>Avaleht </a></li>
    <li><a>Uudised </a></li>
    <li><a>Osale </a></li>
    <li><a>Kava </a></li>
    <li><a>Auhinnad </a></li>
    <li><a>Galerii </a></li>
    <li><a>Eesmärk </a></li>
    <li><a>Administraatori valikud </a></li>
</ul>
<!--/*@thymesVar id="info" type="java.lang.String"*/-->
<h2 th:text="${info}"></h2>
<div>Nimi</div>
<div>Alguskuupäev</div>
<div>Lõppkuupäev</div>
<div>Info</div>
<div>On avatud</div>
<!--/*@thymesVar id="races" type="java.util.List<ee.pardiralli.domain.Race>"*/-->
<!--/*@thymesVar id="race" type="ee.pardiralli.domain.Race"*/-->
<form th:each="raceFromLst : ${races}" th:action="@{/settings}" th:object="${race}" method="post">
    <div th:text="${raceFromLst.getName()}"></div>
    <div th:text="${raceFromLst.getBeginning()}"></div>
    <div th:text="${raceFromLst.getFinish()}"></div>
    <div th:text="${raceFromLst.getDescription()}"></div>
    <input type="hidden" name="id" th:value="${raceFromLst.getId()}"/>
    <input type="hidden" name="isOpen" th:value="${!raceFromLst.getIsOpen()}"/>
    <input type="submit" th:value="${raceFromLst.getIsOpen()} ? 'Sulge' : 'Ava'"/>
</form>
</body>
</html>
