<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistika</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="javascript/statistics.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/admin.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<ul>
    <li><a>Avaleht </a></li>
    <li><a>Uudised </a></li>
    <li><a>Osale </a></li>
    <li><a>Kava </a></li>
    <li><a>Auhinnad </a></li>
    <li><a>Galerii </a></li>
    <li><a>Eesmärk </a></li>
    <li><a>Administraatori valikud </a></li>
</ul>
<div id="linechart_donations" style="width: 900px; height: 500px">
</div>
<div>
    <!--/*@thymesVar id="statistics" type="ee.pardiralli.domain.Statistics"*/-->
    <form id="don_chart" th:object="${statistics}" method="post">
        <label for="datepicker_don_start">Vali alguskuupäev: </label>
        <input
                th:field="*{startDate}"
                id="datepicker_don_start"
        />
        <label for="datepicker_don_end">Vali lõppkuupäev: </label>
        <input
                th:field="*{endDate}"
                id="datepicker_don_end"
        />
    </form>
</div>
<div id="linechart_visits" style="width: 900px; height: 500px">
</div>
<div>

</div>

<p>Lehe külastatavuse statistikat saab praegu näha Google Analyticsi lehelt järgneva Google konto alt:</p>
<p><b>Kasutaja:</b> pardirallistatistika@gmail.com</p>
<p><b>Parool:</b> pardiralli123</p>
<p>Teha uus inkognito internetibrauseri aken ja logida eelmainitud kasutaja ja parooliga GMaili sisse. Postkastis on
    täpselt üks kiri Google Anlyticsilt. Vajutada selles olevale lingile: saabki näha lehe külastatavuse andmeid!</p>


<h2>Ekspordi andmeid</h2>
<!--/*@thymesVar id="exportFile" type="ee.pardiralli.domain.ExportFile"*/-->
<form id="exportform" name="exportform" th:action="@{/export}" th:object="${exportFile}" method="get">
    <table cellpadding="0" cellspacing="0" class="noborder">
        <tr>
            <td>
                <p>
                    Milliseid andmeid soovid eksportida?
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <input id="wantsSoldDucks" type="checkbox" th:field="*{wantsSoldDucks}"/>
                <label th:for="wantsSoldDucks">Müüdud parte</label>

                <input id="wantsDonatedMoney" type="checkbox" th:field="*{wantsDonatedMoney}"/>
                <label th:for="wantsDonatedMoney">Kogutud raha</label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="datepicker_exp_start">Vali alguskuupäev: </label>
                <input
                        th:field="*{startDate}"
                        id="datepicker_exp_start"
                />
            </td>
        </tr>

        <tr>
            <td>
                <label for="datepicker_exp_end">Vali lõppkuupäev: </label>
                <input
                        th:field="*{endDate}"
                        id="datepicker_exp_end"
                />
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Ekspordi"
                       name="action" class="button" id="submit"
                />
            </td>
        </tr>

    </table>

</form>


</body>
</html>