<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistika</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="javascript/statistics.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/admin.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<ul>
    <li><a>Avaleht </a></li>
    <li><a>Uudised </a></li>
    <li><a>Osale </a></li>
    <li><a>Kava </a></li>
    <li><a>Auhinnad </a></li>
    <li><a>Galerii </a></li>
    <li><a>Eesmärk </a></li>
    <li><a>Administraatori valikud </a></li>
</ul>
<div id="linechart_donations" style="width: 900px; height: 500px">
</div>
<div>
    <!--/*@thymesVar id="statistics" type="ee.pardiralli.domain.Statistics"*/-->
    <form id="don_chart" th:object="${statistics}" method="post">
        <label for="datepicker_don_start">Vali alguskuupäev: </label>
        <input
                th:field="*{startDate}"
                id="datepicker_don_start"
                />
        <label for="datepicker_don_end">Vali lõppkuupäev: </label>
        <input
                th:field="*{endDate}"
                id="datepicker_don_end"
                />
    </form>
</div>
<div id="linechart_visits" style="width: 900px; height: 500px">
</div>
<div>

</div>
</body>
</html>